<div class="explanation container">
    <h1>Hoe werkt het?</h1>
    <p>Kaartjes voor de populairste evenementen zijn tegenwoordig in no-time uitverkocht. Toch wil je elk jaar weer los gaan op festivals als DefQon.1, Lowlands en Pinkpop, en dus moet je op een altijd onhandig moment een uur lang achter je laptop zitten om te wachten tot je aan de beurt bent om een kaartje te kopen. Tenzij je internetverbinding intussen weg valt of de ticket-site vast loopt, want dan mag je weer achteraan sluiten in de rij.</p>

    <p><strong>Het kan ook makkelijker: Laat iemand anders die felbegeerde kaartjes voor je bemachtigen voordat ze uitverkocht zijn!</strong></p>

    <p>Op EarliestBird vind je de vroege vogels die op het juiste moment voor jou in de virtuele rij gaan staan om voor jou die festivalkaartjes te kopen! En als jij juist die jaloersmakende persoon bent die altijd w&eacute;l een kaartje weet te bemachtigen, dan kun je daar op deze site een mooi zakcentje mee verdienen! Zo werkt het:</p>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2>Ik heb kaartjes nodig</h2>
        <ol>
          <li>
            <div class="explanation-list-number">1</div>
            <h4>Kies een evenement</h4>
            <p>Lorem ipsum dolor sid amed.</p>
          </li>
          <li>
            <div class="explanation-list-number">2</div>
            <h4>Doe een bod</h4>
            <p>Vertel op EarliestBird hoeveel kaartjes nodig hebt en hoeveel je er voor wil betalen.</p>
          </li>
          <li>
            <div class="explanation-list-number">3</div>
            <h4>Kies een verkoper</h4>
            <p>Medegebruikers van EarliestBird kunnen nu aanbieden om die felbegeerde kaartjes voor jou te gaan kopen. Wees kritisch, en bekijk de verkoophistorie om een betrouwbare verkoper te vinden.</p>
          </li>
          <li>
            <div class="explanation-list-number">4</div>
            <h4>Betaal</h4>
            <p>Maak uiterlijk 6 uur voordat de kaartjes in de verkoop gaan het bedrag over naar EarliestBird. Daarna kun je achterover leunen.</p>
          </li>
          <li>
            <div class="explanation-list-number">5</div>
            <h4>Ontvang je kaartjes</h4>
            <p>Zodra de kaartjes in de verkoop gaan, zal de verkoper ze proberen te bemachtigen en naar EarliestBird uploaden. Wij checken de kaartjes op echtheid en sturen ze vervolgens per mail naar jou! Is het de verkoper niet gelukt om de kaartjes te bemachtigen of blijken ze niet echt te zijn? Dan krijg je het volledige bedrag binnen 2 werkdagen teruggestort.</p>
          </li>
           <li>
            <div class="explanation-list-number">6</div>
            <h4>Ga los!</h4>
            <p>Kaartjes in de pocket. Let's golio!</p>
          </li>
        </ol>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Ik zorg voor kaartjes</h2>
        <ol>
          <li>
            <div class="explanation-list-number">1</div>
            <h4>Kies een evenement</h4>
          </li>
          <li>
            <div class="explanation-list-number">2</div>
            <h4>Accepteer een bod</h4>
            <p>Scroll door de lijst met kaartjeszoekenden en bied aan om een bepaald aantal kaartjes voor een bepaalde prijs te gaan kopen.</p>
          </li>
          <li>
            <div class="explanation-list-number">3</div>
            <h4>Word een verkoper</h4>
            <p>Het is aan de kaartjeszoekende om een verkoper te accepteren. Om een keuze te maken, kunnen medegebruikers zien hoe vaak het je gelukt is om een kaartje te bemachtigen als verkoper op EarliestBird.</p>
          </li>
          <li>
            <div class="explanation-list-number">4</div>
            <h4>Bemachtig de kaartjes</h4>
            <p>De deal gaat door zodra de koper het geldbedrag naar EarliestBird heeft overgemaakt. We geven je een seintje zodra dit gedaan is. Het is dan aan jou om de kaartjes te bemachtigen voordat ze uitverkocht zijn!</p>
          </li>
          <li>
            <div class="explanation-list-number">5</div>
            <h4>Word betaald</h4>
            <p>Is het gelukt om de kaartjes te bemachtigen? Upload ze naar EarliestBird, zodat wij ze kunnen checken op echtheid en door kunnen sturen naar de koper. Je ontvangt het geld voor de kaartjes binnen 2 werkdagen.</p>
          </li>
          <li>
            <div class="explanation-list-number">6</div>
            <h4>Wees eerlijk</h4>
            <p>Op EarliestBird loont het om een eerlijke verkoper te zijn! Als het je consequent lukt om felbegeerde kaartjes te bemachtigen, dan zul je vanzelf hogere prijzen kunnen vragen voor je moeite. Lukt het je echter niet om de kaartjes te bemachtigen of upload je valse kaartjes? Dan zien medegebruikers dat terug op de site en ontvang je ook geen geld.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>