<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <h4>Over EarliestBird</h4>
        <p>EarliestBird is een initiatief van Specifique vof. Op het logo en de grafische content rusten auteursrecht. Gebruik is alleen toegestaan na schriftelijke toestemming. Handelen in tickets voor populaire evenementen dient gedaan te worden met gezond verstand. EarliestBird heeft mechanismen ontworpen om de echtheid van kaartjes te verifi&euml;ren, maar kan niet aansprakelijk gesteld worden voor eventuele schade, financi&euml;el of anderszins.</p>
      </div>
      <div class="col-xs-6 col-md-4">
        <h4>Contact</h4>
        <dl class="dl-horizontal">
          <dt>Email</dt>
          <dd>hallo@earliestbird.nl</dd>
          <dt>Adres</dt>
          <dd>EarliestBird BV<br>Drienerlolaan<br>7500 AE Enschede<br>Nederland</dd>
          <dt>KvK</dt>
          <dd>41 03 22 15</dd>
          <dt>BTW</dt>
          <dd>NL8058.20.206.B01</dd>
        </dl>
      </div>
      <div class="col-xs-offset-6 col-md-offset-0 col-xs-6 col-md-4">
        <h4>Linkjes enzo</h4>
        <a href="{{ path('homepage') }}">Home</a><br>
        <a href="http://foncho.fairtrade.org.uk/wp-content/themes/foncho/img/bananaAnimated.png">Banaan</a>
      </div>
    </div>
  </div>
</footer>