<div class="header-container header-big">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
          <h1>Als eerste in de rij</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis condimentum eros in interdum.</p>
        </div>
      </div>
    </div>
  </header>
</div>