{% extends 'base.html.twig' %}

{% block title %}- Home{% endblock %}

{% block body %}
  {{ include('partials/navigation.html.twig') }}
  {{ include('partials/header-small.html.twig') }}

  <div class="container">
    <h1>Alle evenementen</h1>

      {% for thing in things %}
        {% include 'partials/thing.html.twig' with {'variant': 'list-item-medium'} %}
      {% endfor %}
  </div>

  {{ include('partials/footer.html.twig') }}
{% endblock %}
